<div class="row">
    <div class="col-3">
        <p class="color text-center">© <%= Time.now.strftime("%Y") %> BOZ.</p>
        <p class="color text-center">Todos los derechos reservados.</p>
    </div>

    <div class="col-9 d-flex justify-content-end">
		<li class="nav-item none">
			<i class="fa-brands fa-facebook-square fa-3x color" style="margin: 15px;" title="Facebook"></i>
        </li>
        <li class="nav-item none">
			<i class="fa-brands fa-instagram-square fa-3x color" style="margin: 15px;" title="Facebook"></i>
        </li>
    	<li class="nav-item none">
			<i class="fa-brands fa-twitter-square fa-3x color" style="margin: 15px;" title="Twitter"></i>
	    </li>	
    </div>
</div>