<h3>Caracteristica Principal</h3>
<div class="nested-fields">
    <div>
      <%= f.label :name, value:"Caracteristica", style: "display: block" %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= link_to_remove_association "Eliminar caracteristica", f %>
    </div>
  </div>